# Sanity Configuration
# Required - The ID of your Sanity project
PUBLIC_SANITY_PROJECT_ID=""
# Required - The dataset of your Sanity project
PUBLIC_SANITY_DATASET=""
# Required - The generated read token, used to fetch data on the server
SANITY_API_READ_TOKEN=""
# Required - The generated write token, used for mutations
SANITY_API_WRITE_TOKEN=""
# Optional - The Sanity API version to use
PUBLIC_SANITY_API_VERSION=""
# Optional - The URL of your Sanity Studio
PUBLIC_SANITY_STUDIO_URL=""

# SMTP Configuration for Email Forms
# Required - SMTP server host (e.g. smtp.gmail.com for Gmail)
SMTP_HOST=""
# Required - SMTP server port (e.g. 587 for TLS, 465 for SSL)
SMTP_PORT=""
# Required - SMTP username (noreply@yourdomain.com)
SMTP_USER=""
# Required - SMTP password
SMTP_PASS=""
# Required - System sender address for automated emails (noreply@yourdomain.com)
FROM_EMAIL=""
# Required - Address where form submissions will be sent to (e.g. info@yourdomain.com)
TO_EMAIL=""

# Admin Configuration
# Required - Comma-separated list of admin email addresses
ADMIN_EMAILS="hallo@frdrk.de,info@djworkshopgermany.de"
